.orders {
  height: fit-content;
  background: #f7f7f7;
  padding: 4.5rem 3rem 1rem 3rem;
}

@media (max-width: 900px) {
  .orders > h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 900px) {
  .orders {
    padding: 4.5rem 2rem 1rem 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .orders {
    padding: 4.5rem 1rem 1rem 1rem;
  }
}
